@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes logo {
    0% {
        width: 18em;
        transform: scale(2.75);
        opacity: 1;
    }
    50% {
        opacity: 1;
        width: 18em;
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
        width: 18em;
        top:5%;
        left:39%;
    }
}


@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}

body {
  background-image: url("img/space.jpg");
  height: 100%;
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
    position: absolute;
    top: 40%;
    left: 15%;
    animation: intro 6s ease-out 1s;
    color: rgb(75, 213, 238);
    font-weight: 500;
    font-size: 500%;
    opacity: 0;
}

.logo {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: auto;
    animation: logo 7s ease-out 9s;
    opacity: 0;
}

p {
  color: #F7F740;
}

#board {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  overflow: hidden;
  font-size: 350%;
  height: 50em;
  width: 18em;
  bottom: 0;
  left: 50%;
}

#board:after {
  position: absolute;
  content: ' ';
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

#content {
  animation: scroll 100s linear 13s;
  position: absolute;
  top: 100%;
}

#title, #subtitle {
  text-align: center;
  margin:20px;
}
